################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Custom_DLL/x64/Debug
/Custom_DLL/Custom_DLL.vcxproj.user
/.vs
/x64/Debug
