################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Custom_DLL/x64/Debug
/Custom_DLL/Custom_DLL.vcxproj.user
/.vs
/x64/Debug
/Interprocess_Communicator/Interprocess_Communicator.user
/Custom_DLL/.vs/Custom_DLL
/Custom_DLL/Custom_DLL/x64/Debug
/Interprocess_Communicator/Interpro.eb99a3ba/x64/Debug
/Interprocess_Communicator/Interprocess_Communicator/x64/Debug
